*{
    margin:0;
    padding: 0;
}
h1 {
  font-size: 1.6em;
  color: #DFEEEA;
  font-family: 'Courgette', cursive, sans-serif;
  height: fit-content;
  text-align: center; }
  h2{
    color: black;
    text-align: center;
    font-family: 'Courgette', cursive, sans-serif;
    font-size: 1.6em;
  }

  a {
  color: #ffffff;
  text-decoration: none; }

nav{
  background-color: rgb(73, 105, 0);
}
footer{
  background-color:rgb(73, 105, 0) ;
  height: 100px;
}


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  
  .main-container { grid-area: 1 / 1 / 6 / 4;


}
  
  .card1 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    background-color: #c7c9ca;
   

  }
  
  .card-info { grid-area: card-info;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;



}
  
  .card-img { grid-area: card-img; 

}
  
  .card2 { display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    background-color: #c7c9ca; }
  
  .card3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info"; grid-area: 1 / 3 / 2 / 4;
    text-align: center;
    background-color: #c7c9ca;  }
  
  .card4 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 2 / 1 / 3 / 2; text-align: center;
    background-color: #c7c9ca; }
  
  .card5 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 2 / 2 / 3 / 3;text-align: center;
    background-color: #c7c9ca;  }
  
  .card6 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 2 / 3 / 3 / 4; text-align: center;
    background-color: #c7c9ca; text-align: center;
    background-color: #c7c9ca; }
  
  .card7 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 3 / 1 / 4 / 2;text-align: center;
    background-color: #c7c9ca;  }
  
  .card8 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 3 / 2 / 4 / 3;text-align: center;
    background-color: #c7c9ca;  text-align: center;
    background-color: #c7c9ca; }
  
  .card9 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 3 / 3 / 4 / 4;text-align: center;
    background-color: #c7c9ca;  }
  
  .card10 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 4 / 1 / 5 / 2; text-align: center;
    background-color: #c7c9ca; }
  
  .card11 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 4 / 2 / 5 / 3;text-align: center;
    background-color: #c7c9ca;  }
  
  .card12 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 4 / 3 / 5 / 4;text-align: center;
    background-color: #c7c9ca;  }
  
  .card13 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 5 / 1 / 6 / 2; text-align: center;
    background-color: #c7c9ca; }
  
  .card14 { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info";grid-area: 5 / 2 / 6 / 3;text-align: center;
    background-color: #c7c9ca;  }
  
  .card15 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px px;
    grid-auto-flow: row;
    grid-template-areas:
      "card-img"
      "card-info"; grid-area: 5 / 3 / 6 / 4;text-align: center;
    background-color: #c7c9ca;  }
  